<h1>Canciones: </h1>

{{#each canciones}}

<div class="box">
    <p>ID: {{this._id}}</p>
    <p>Nombre: {{this.name}}</p>
    <p>Artista: {{this.artist}}</p>
    <p>Album: {{this.year}}</p>
    <p>Año: {{this.year}}</p>
    <p>Pais: {{this.country}}</p>
</div>

{{/each}}